<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p class='p'>This is a very small weather mae by me during my node.js learning path</p>
        {{>footer}}
    </body>
</html>