<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        
        {{>header}}
        <p class ='p'>This is the help and suggestions page.<br>
        If you need any help or if can provide any suggetsions please contact me on github.
        <br>
        Github link:https://github.com/alphaQ1611</p>
        {{>footer}}
    </body>
</html>